/* ===========================
   Markdown PDF Default Style
   =========================== */

@page {
    size: A4;
    margin: 22mm 18mm;

    @bottom-center {
        content: counter(page) " / " counter(pages);
        font-size: 10px;
        color: #777;
    }
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size:14px;
    line-height:1.8;
    color:#222;
}

/* ---------- Headings ---------- */

h1{
    font-size:26px;
    color:#1e3a8a;
    text-align:left;
    margin-top:0;
    margin-bottom:18px;
    font-weight:700;
}

h2{
    font-size:21px;
    color:#2563eb;
    text-align:left;
    margin-top:30px;
    margin-bottom:12px;
    font-weight:700;
}

h3{
    font-size:18px;
    color:#111827;
    text-align:left;
    margin-top:24px;
    margin-bottom:10px;
    font-weight:700;
}

h4{
    font-size:16px;
    color:#374151;
    text-align:left;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
}

/* ---------- Horizontal Line ---------- */

hr{
    border:none;
    border-top:1.5px solid #cbd5e1;
    margin:28px 0;
}

/* ---------- Paragraph ---------- */

p{
    margin:8px 0;
    text-align:justify;
}

/* ---------- List ---------- */

ul,
ol{
    margin-left:24px;
}

li{
    margin:6px 0;
}

/* ---------- Inline Code / Keywords ---------- */


code{
    background:white;
    color:rgb(136, 4, 4);     
    padding:2px 6px;
    border-radius:4px;
    font-size:13px;
    font-weight:600;
}

/* ---------- Code Block ---------- */

pre{
    background:#1f2937;
    color:#f8fafc;
    padding:18px;
    border-radius:8px;
    overflow:auto;
    font-size:13px;
    line-height:1.6;
}

pre code{
    background:none;
    color:inherit;
    padding:0;
}

/* ---------- Table ---------- */

table{
    width:100%;
    border-collapse:collapse;
    margin:20px 0;
    font-size:13px;
}

th{
    background:#2563eb;
    color:#fff;
    padding:10px;
    text-align:center;
    border:1px solid #d1d5db;
}

td{
    padding:10px;
    border:1px solid #d1d5db;
    text-align:left;
}

tr:nth-child(even){
    background:#f8fafc;
}

/* ---------- Blockquote ---------- */

blockquote{
    background:#f8fafc;
    border-left:5px solid #2563eb;
    padding:10px 15px;
    color:#444;
    margin:20px 0;
    font-style:italic;
}

/* ---------- Image ---------- */

img{
    display:block;
    margin:20px auto;
    max-width:90%;
}

/* ---------- Links ---------- */

a{
    color:#2563eb;
    text-decoration:none;
}